
.icon-attention:before { content: '\e800'; } /* '' */
.icon-sliders:before { content: '\e801'; } /* '' */
.icon-paste:before { content: '\e802'; } /* '' */
.icon-brush:before { content: '\e803'; } /* '' */
.icon-link:before { content: '\e804'; } /* '' */
.icon-plus-squared:before { content: '\e805'; } /* '' */
.icon-clock:before { content: '\e806'; } /* '' */
.icon-github-squared:before { content: '\e807'; } /* '' */
.icon-doc-inv:before { content: '\e808'; } /* '' */
.icon-scissors:before { content: '\e809'; } /* '' */
.icon-minus-squared:before { content: '\e80a'; } /* '' */
.icon-hourglass:before { content: '\e80b'; } /* '' */
.icon-spin2:before { content: '\e80c'; } /* '' */
.icon-check:before { content: '\e80d'; } /* '' */
.icon-check-empty:before { content: '\e80e'; } /* '' */
.icon-heart:before { content: '\e80f'; } /* '' */
.icon-resize-small:before { content: '\e81d'; } /* '' */
.icon-resize-full:before { content: '\e81e'; } /* '' */
.icon-up-open:before { content: '\e81f'; } /* '' */
.icon-down-open:before { content: '\e820'; } /* '' */
.icon-floppy:before { content: '\e821'; } /* '' */
.icon-folder-open:before { content: '\e824'; } /* '' */
.icon-info-circled:before { content: '\e825'; } /* '' */
.icon-trash-1:before { content: '\e826'; } /* '' */
.icon-export-alt:before { content: '\e827'; } /* '' */
.icon-box:before { content: '\e828'; } /* '' */
.icon-share-squared:before { content: '\e829'; } /* '' */
.icon-help-circled:before { content: '\e82a'; } /* '' */